.sidebar {
    border-right: 1px solid gray;
}

.sidebar__brand {
    font-size: 2rem;
    width: 100%;
    padding: 24px 16px;
}

.sidebar__btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    padding: 8px 16px;
    gap: 8px;
    border: none;
}

.sidebar__btn--active {
    background-color: rgb(171, 231, 240);
}

.sidebar__svg {
    width: 24px;
    height: 24px;
}