*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: minmax(200px, 300px) 1fr;
}


#sidebar ul {
  list-style: none;

}

#sidebar ul li {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#sidebar ul li .icon {
  height: 24px;
  width: 24px;
}

#sidebar ul li a {
  appearance: none;
  color: inherit;
  text-decoration: none;
}
